name: release
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  test:
    name: Build and package
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: arm64,arm
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: '~1.19'
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        version: latest
        args: release --rm-dist
      env:
        REGISTRY: ghcr.io
        IMAGE_NAME: daenney/vattenfall
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
